# /etc/systemd/system/copybot-backup.timer
[Unit]
Description=Copia de seguridad diaria de copybot

[Timer]
OnCalendar=daily
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
